<tr class="table-row">
    <td class="table-first-col">{{id}}. {{this.burger_name}}</td>
    <td>{{#if devoured}} {{else}}<button class="devour-btn" data-id="{{this.id}}">Devour it!</button>{{/if}}</td>
</tr>